#utm_dot_codes_logo {
	width: 250px;
	margin: auto;
	display: block;
}

#utmdclinks_notes_preview_row {

	&.hidden {
		display: none;
	}

}

.utmdclinks {

	&-settings {

		&-social {
			display: flex;
			flex-direction: row;
			flex-grow: 1;
			align-content: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;

			label {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 75px;
				padding: 0 0.5rem;
				font-size: 1rem;
				line-height: 1.25rem;
				text-align: center;
				margin-bottom: 1rem;

				i {
					font-size: 3rem;
				}

				input {
					margin: 0.5rem;
				}

			}

		}

		&-toggle {
			@include css-toggle();
		}

		&-slider {
			@include css-slider();

			output {
				position: relative;
				display: inline-block;
				margin-left: 25px;
				padding: 7px;
				margin-top:-5px;
				width: 20px;
				text-align: center;
				background: $white;
				border: solid 2px $wp_blue;

				&:before,
				&:after {
					right: 100%;
					top: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
				}

				&:before {
					border-color: transparent;
					border-right-color: $wp_blue;
					border-width: 13px;
					margin-top: -13px;
				}

				&:after {
					border-color: transparent;
					border-right-color: $white;
					border-width: 10px;
					margin-top: -10px;
				}

			}

		}

		&-select {
			outline: none;
			display: block;
			font-size: 16px;
			font-family: sans-serif;
			font-weight: 500;
			line-height: 28px !important;
			color: $wp_gray_dark;
			padding: 0 32px 0 4px !important;
			width: auto;
			max-width: 100%;
			border: 2px solid $wp_blue;
			box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
			border-radius: 0;
			appearance: none;
			background-color: $white;
			background-image:
				url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%230084c4%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E),
				linear-gradient(to bottom, $white 0%, $wp_gray 100%);
			background-repeat: no-repeat, repeat;
			background-position: right 8px top 50%, 0 0;
			background-size: 12px auto, 100%;

			&::-ms-expand {
				display: none;
			}

			&:active,
			&:hover,
			&:focus {
				outline: none !important;
			}

		}

	}

}
