{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 0.5%", "last 2 versions", "iOS >= 8", "IE 10", "IE 11"]
      }
    }]
  ],
  "plugins": [
    ["transform-class-properties", { "spec": true }]
  ]
}
