// Colors
$gray_dark: #23282d;
$gray: #f1f1f1;
$green: #46b450;
$red: #dc3232;
$blue: #2271b1;
$white: #ffffff;

:root {
	--utmdc-gray-dark: #{$gray_dark};
	--utmdc-gray: #{$gray};
	--utmdc-green: #{$green};
	--utmdc-red: #{$red};
	--utmdc-blue: #{$blue};
	--utmdc-white: #{$white};
}
