@use "sass:math";

@mixin css-toggle($off-color: #444444, $on-color: #0073aa, $button-color: #ffffff, $text-color: #ffffff, $width: 140px, $height: 36px) {

	$shadow: 0 3px 3px rgba(black, 0.4);
	$switch-width: math.div($width, 2);
	$offset: 2px;
	$transition: cubic-bezier(0, 1, 0.5, 1);

	position: relative;

	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	input[type=checkbox] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;

		&[disabled] {
			~ label {
				pointer-events: none;
				color: rgba($off-color, 0.5);

				div {
					opacity: 0.5;
				}
			}
		}

		&:checked {

			~ label {

				div {
					background-color: lighten($on-color, 5%);

					&:before {
						content: attr(data-off);
						left: 0;
					}

					&:after {
						content: attr(data-on);
						color: darken($on-color, 5%);
						transform: translate3d($width - ($switch-width + $offset),0,0);
					}
				}
			}
		}
	}

	label {
		user-select: none;
		position: relative;
		display: flex;
		align-items: center;
		width: $width;

		div {
			position: relative;
			transition: background-color 0.3s $transition;
			background: lighten($off-color, 5%);
			height: $height;
			flex: 0 0 $width;

			&:before,
			&:after {
				text-transform: uppercase;
				text-align: center;
				position: absolute;
			}

			&:before {
				color: $text-color;
				left: math.div($width, 2);
				line-height: $height;
				width: math.div($width, 2);
				content: attr(data-on);
				top: 0;
			}

			&:after {
				top: $offset;
				left: $offset;
				width: $switch-width - $offset;
				line-height: $height - ($offset*2);
				transition: transform 0.3s $transition;
				color: $off-color;
				content: attr(data-off);
				z-index: 5;
				background: $button-color;
				transform: translate3d(0,0,0);
			}

		}

	}

}
